@font-face{
    font-family: "mono";
    src: url(../../../assets/fonts/Ra-Mono.otf);
  }
@font-face{
    font-family: "black";
    src: url(../../../assets/fonts/ArchivoBlack-Regular.ttf);
 }
.row{
 
    background-color: #025C60;
}
footer{
    font-family: "mono";
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top:15px;
}