<div class="row">
    <h1>PROYECTOS</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-6 col-lg-6 desc">
            <h2>Ranking Peliculas MARVEL</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus labore libero veniam sint ratione magni accusamus minima alias officiis magnam possimus, ducimus enim assumenda repellendus nemo repudiandae perferendis? Pariatur, numquam.</p>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 offset-md-1 offset-md-1 img">
            <img src="../../../assets/RK-MARVEL.png" class="img-fluid"> 
        </div>
    </div>
</div>
