@font-face{
    font-family: "mono";
    src: url(../../../assets/fonts/Ra-Mono.otf);
  }
@font-face{
    font-family: "black";
    src: url(../../../assets/fonts/ArchivoBlack-Regular.ttf);
 }
 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    
}
 h3{
    font-family: "black";
    padding-bottom: 15px;
 }
 button{
    text-align: center;
    margin-top: 20px;
 }