<div class="row">
    <h1>EDUCACIÓN</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2> Eduación 1</h2>
                <h3> (año) </h3>
            </li>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, dolores quibusdam saepe nostrum consectetur illum molestias voluptatum itaque, laborum rem animi maiores. Asperiores excepturi quae cumque nihil. Sed, alias dignissimos?</p>
        </ul>
        <ul>
            <li>
                <h2> Educación 2</h2>
                <h3> (año) </h3>
            </li>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, dolores quibusdam saepe nostrum consectetur illum molestias voluptatum itaque, laborum rem animi maiores. Asperiores excepturi quae cumque nihil. Sed, alias dignissimos?</p>
        </ul>
    </div>
</div>

