<div class="row">
    <h1>HARD & SOFT SKILL</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="95"
            [radius]="100"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#025C60'"
            [innerStrokeColor]="'#96a8b485'"
            [animation]="true"
            [animationDuration]="300"
            [titleColor]="'#025C60'"
            [titleFontSize]="'32'"
            [titleFontWeight]="'400'"
            [subtitle]="'HTML'"
            [subtitleColor]="'black'"
            [subtitleFontWeight]="'600'"
            [subtitleFontSize]="'40'"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#025C60'"
            [innerStrokeColor]="'#96a8b485'"
            [animation]="true"
            [animationDuration]="300"
            [titleColor]="'#025C60'"
            [titleFontSize]="'32'"
            [titleFontWeight]="'400'"
            [subtitle]="'CSS'"
            [subtitleColor]="'black'"
            [subtitleFontWeight]="'600'"
            [subtitleFontSize]="'40'"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="45"
            [radius]="100"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#025C60'"
            [innerStrokeColor]="'#96a8b485'"
            [animation]="true"
            [animationDuration]="300"
            [titleColor]="'#025C60'"
            [titleFontSize]="'32'"
            [titleFontWeight]="'400'"
            [subtitle]="'JS'"
            [subtitleColor]="'black'"
            [subtitleFontWeight]="'600'"
            [subtitleFontSize]="'40'"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="100"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#025C60'"
            [innerStrokeColor]="'#96a8b485'"
            [animation]="true"
            [animationDuration]="300"
            [titleColor]="'#025C60'"
            [titleFontSize]="'32'"
            [titleFontWeight]="'400'"
            [subtitle]="'GIT HUB'"
            [subtitleColor]="'black'"
            [subtitleFontWeight]="'600'"
            [subtitleFontSize]="'38'"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#025C60'"
            [innerStrokeColor]="'#96a8b485'"
            [animation]="true"
            [animationDuration]="300"
            [titleColor]="'#025C60'"
            [titleFontSize]="'32'"
            [titleFontWeight]="'400'"
            [subtitle]="'T.GRUPAL'"
            [subtitleColor]="'black'"
            [subtitleFontWeight]="'600'"
            [subtitleFontSize]="'35'"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="95"
            [radius]="100"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#025C60'"
            [innerStrokeColor]="'#96a8b485'"
            [animation]="true"
            [animationDuration]="300"
            [titleColor]="'#025C60'"
            [titleFontSize]="'32'"
            [titleFontWeight]="'400'"
            [subtitle]="'COMUNICACIÓN'"
            [subtitleColor]="'black'"
            [subtitleFontWeight]="'600'"
            [subtitleFontSize]="'20'"
        ></circle-progress>
    </div>
  
    
</div>
