@font-face{
    font-family: "mono";
    src: url(../../../assets/fonts/Ra-Mono.otf);
  }
@font-face{
    font-family: "black";
    src: url(../../../assets/fonts/ArchivoBlack-Regular.ttf);
 }
 h1{
    font-family: "black";
 }
 .row{
    padding: 20px;

 }
 .contenedor{
    width: auto;
 }
 .desc, .img{
    display: inline-block;
    text-align: justify;
 }
 p,h2{
   font-family: "mono";
 }
 /*.imagen{
    width: 100px;
    height:100px;
 }*/